<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<form #f="ngForm" (ngSubmit)="onLogin(f)">
  <ion-list>
    <ion-item>
      <ion-label>
        Username
      </ion-label>
      <ion-input
      type="email"
      ngModel
      name="username"
      required> 
      </ion-input>
    </ion-item> 
    <ion-item>
      <ion-label>
        Password
      </ion-label>
      <ion-input 
      type="password" 
      ngModel 
      name="password" 
      required>
      </ion-input>
    </ion-item>
  </ion-list> 
<ion-button shape="round" color="primary" fill="outline" type="submit" block [disabled]="!f.valid">Login</ion-button>
</form>
</ion-content>
